
#digitos{
    margin-top: 10%;
    width: 100%;
  
}
#numero{

    height: 40px;
    width: 97%;

}
#botoes{

    width: 100%;

}
.botao{

    margin-top: 10%;
    width: 23.7%;
    height: 40px;

}

#conteiner{

border-style: solid;
border-color:  rgb(36, 34, 34);
width: 25%;
border-radius: 3%;
box-shadow: 3px 1px 1px rgb(36, 34, 34)

}